#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
{% set external_ip = ansible_default_ipv4.address %}
{% if openvpn_server.external_ip is defined and
      openvpn_server.external_ip | string | length > 0 %}
  {% set external_ip = openvpn_server.external_ip %}
{% endif %}
{% set _valid_attr = ['udp','tcp'] %}
{% if not openvpn_server.proto in _valid_attr %}
  {% set openvpn_server.proto = 'udp' %}
{% endif %}

client

remote          {{ external_ip }} {{ openvpn_server.port }} {{ openvpn_server.proto }}

proto           tcp-client
dev             {{ openvpn_server.device }}

remote-cert-tls server
key-direction   1
keepalive       10 120

tun-mtu         {{ openvpn_mtu | default('1500') }}
mssfix          1360
persist-key
persist-tun

cipher          {{ openvpn_server.cipher }}

float
resolv-retry    infinite
nobind

verb            {{ openvpn_logging.verbosity }}
mute            {{ openvpn_logging.mute }}

<ca>
{{ openvpn_ca_cert.content | b64decode }}</ca>

<cert>{% raw %}
{{ cert }}
{% endraw %}</cert>

<key>{% raw %}
{{ key }}
{% endraw %}</key>

<tls-auth>
{{ openvpn_ta_key.content | b64decode | regex_replace('(?m)^#.*?\n', '') }}</tls-auth>

