#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

client

remote          mail.einza.com
port            1195
proto           udp
dev             tap

ca              /etc/openvpn/keys/einza/ca.crt
cert            /etc/openvpn/keys/einza/xanhaem.crt
key             /etc/openvpn/keys/einza/xanhaem.key

remote-cert-tls server

ping            20
ping-restart    45
ping-timer-rem
persist-tun
persist-key
comp-lzo

log             /var/log/openvpn/einza.log

verb            3
mute            10
