#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

client

remote          {{ client.remote }}
port            {{ client.port }}
proto           {{ client.proto }}
dev             {{ client.device }}

ca              {{ openvpn_directory }}/keys/{{ openvpn_client_name }}/ca.crt
cert            {{ openvpn_directory }}/keys/{{ openvpn_client_name }}/{{ client.cert }}
key             {{ openvpn_directory }}/keys/{{ openvpn_client_name }}/{{ client.key }}
auth-nocache

{% if client.tls_auth.enabled is defined and
      client.tls_auth.enabled %}
tls-client
tls-auth        {{ openvpn_directory }}/keys/{{ openvpn_client_name }}/ta.key 1
{% else %}
remote-cert-tls server
{% endif %}

ping            20
ping-restart    45
ping-timer-rem

tun-mtu         {{ openvpn_mtu | default('1500') }}
persist-tun
persist-key

cipher          {{ openvpn_server.cipher }}

{% if openvpn_logging.append | bool | default('false') %}
log-append      {{ openvpn_logging.directory }}/{{ openvpn_logging.file }}
{% else %}
log             {{ openvpn_logging.directory }}/{{ openvpn_logging.file }}
{% endif %}
{% if openvpn_logging.status is defined and
      openvpn_logging.status | string | length > 0 %}
status          {{ openvpn_logging.directory }}/{{ openvpn_logging.status }}
{% endif %}

verb            {{ openvpn_logging.verbosity }}
mute            {{ openvpn_logging.mute }}
