#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

client

remote          {{ client.remote }}
port            {{ client.port }}
proto           {{ client.proto }}
dev             {{ client.device }}

ca              {{ openvpn_directory }}/keys/{{ client.name }}/ca.crt
cert            {{ openvpn_directory }}/keys/{{ client.name }}/{{ client.cert }}
key             {{ openvpn_directory }}/keys/{{ client.name }}/{{ client.key }}

remote-cert-tls server

ping            20
ping-restart    45
ping-timer-rem
persist-tun
persist-key
; comp-lzo

{% if client.tls_auth.enabled is defined and
      client.tls_auth.enabled %}
tls-auth      {{ openvpn_directory }}/keys/{{ client.name }}/ta.key 0 # This file is secret
{% endif %}

status        {{ openvpn_logging.directory }}/{{ openvpn_logging.status }}

cipher        {{ openvpn_server.cipher }}

{% if openvpn_logging.append | bool | default('false') %}
log-append    {{ openvpn_logging.directory }}/{{ openvpn_logging.file }}
{% else %}
log           {{ openvpn_logging.directory }}/{{ openvpn_logging.file }}
{% endif %}

# log             /var/log/openvpn/{{ client.name }}.log

verb          {{ openvpn_logging.verbosity }}
mute          {{ openvpn_logging.mute }}
